header {
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bolder;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #cc5500;
}